.elementor-142584 .elementor-element.elementor-element-678482c5, .elementor-142584 .elementor-element.elementor-element-678482c5 > .elementor-background-overlay{border-radius:16px 16px 16px 16px;}.elementor-142584 .elementor-element.elementor-element-678482c5{margin-top:0px;margin-bottom:0px;padding:60px 100px 60px 100px;}.elementor-142584 .elementor-element.elementor-element-f19354f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:10px 10px 15px 10px;}.elementor-142584 .elementor-element.elementor-element-f19354f{z-index:1;}.elementor-142584 .elementor-element.elementor-element-1dbea44e{text-align:center;}.elementor-142584 .elementor-element.elementor-element-1dbea44e .elementor-heading-title{color:#FFFFFF;font-family:"Open Sans", Sans-serif;font-size:30px;font-weight:700;text-transform:none;font-style:normal;text-decoration:none;line-height:42px;letter-spacing:0.5px;}.elementor-142584 .elementor-element.elementor-element-1dbea44e > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group{margin-bottom:0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-form-fields-wrapper{margin-bottom:-0px;}body.rtl .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group > label, .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-subgroup label{color:#64748B;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group > label{font-family:"Open Sans", Sans-serif;font-weight:600;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-type-html{padding-bottom:0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group .elementor-field{color:#9FACC4;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group .elementor-field, .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-subgroup label{font-family:"Open Sans", Sans-serif;font-weight:600;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#D1E0FF;border-width:1px 1px 1px 1px;border-radius:8px 0px 0px 8px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#D1E0FF;border-width:1px 1px 1px 1px;border-radius:8px 0px 0px 8px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group .elementor-select-wrapper::before{color:#D1E0FF;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button{font-family:"Open Sans", Sans-serif;font-weight:600;border-style:solid;border-width:1px 1px 1px 1px;border-radius:0px 8px 8px 0px;padding:0px 0px 0px 0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .e-form__buttons__wrapper__button-next{background-color:#0057FF;color:#ffffff;border-color:#0057FF;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button[type="submit"]{background-color:#0057FF;color:#ffffff;border-color:#0057FF;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-142584 .elementor-element.elementor-element-15c77bc3{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 42px 0px 42px;}.elementor-142584 .elementor-element.elementor-element-340dd123 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 42px 0px 42px;}@media(max-width:1024px){.elementor-142584 .elementor-element.elementor-element-678482c5{padding:60px 100px 60px 100px;}.elementor-142584 .elementor-element.elementor-element-f19354f > .elementor-element-populated{padding:10px 0px 10px 0px;}.elementor-142584 .elementor-element.elementor-element-f19354f{z-index:1;}.elementor-142584 .elementor-element.elementor-element-1dbea44e .elementor-heading-title{font-size:32px;letter-spacing:0.5px;}.elementor-142584 .elementor-element.elementor-element-1dbea44e > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group > label{line-height:21px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-group .elementor-field, .elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-field-subgroup label{font-size:14px;line-height:48px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button{font-size:16px;line-height:48px;border-width:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-142584 .elementor-element.elementor-element-678482c5{padding:50px 30px 40px 30px;}.elementor-142584 .elementor-element.elementor-element-f19354f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-142584 .elementor-element.elementor-element-f19354f > .elementor-element-populated{padding:10px 0px 10px 0px;}.elementor-142584 .elementor-element.elementor-element-1dbea44e .elementor-heading-title{font-size:18px;line-height:32px;letter-spacing:0.2px;}.elementor-142584 .elementor-element.elementor-element-1dbea44e > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 .elementor-button{line-height:24px;border-width:0px 0px 0px 0px;}.elementor-142584 .elementor-element.elementor-element-15c77bc3 > .elementor-widget-container{padding:0px 0px 0px 0px;}}/* Start custom CSS for section, class: .elementor-element-678482c5 */.detail-page-mail-chimp-form {
    position: relative;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/subscriptionbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
@media(min-width:768px) {
.detail-page-mail-chimp-form::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/subscription-background-image-2.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.detail-page-mail-chimp-form::after {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 100%;
    height: 100%;
    margin-top: 18px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/subscription-background-image-1.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
}
.RSSFeed .rss-feed-action {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #FFD018;
    background-color: #121e54;
    border: 2px solid #FFD018;
    width: 100%;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s;
    padding: 10px 20px;
    border-radius: 8px;
}
.RSSFeed .rss-feed-action .rss-btn-text {
    display: inline-block;
    padding: 0;
}
.RSSFeed .rss-feed-action .rss-btn-text::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/rss_feed_icon.svg);
    float: left;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}
#detail-page-email-field #form-field-email {
    padding-left: 20px;
    height: 48px;
}
#detail-page-email-field .elementor-field-type-submit .elementor-button {
     height: 48px;
}
.detail-page-mail-chimp-form .elementor-heading-title {
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 42px !important;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
#mailchimp-subscribe-button:disabled {
    cursor: not-allowed !important;
}
/* mobile design */
@media(max-width:767px) {
.detail-page-mail-chimp-form .elementor-heading-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 32px !important
}
#detail-page-email-field #form-field-email {
    border-radius: 8px;
    margin-bottom: 20px;
    line-height: 24px;
}
#detail-page-email-field .elementor-button {
    border-radius: 8px;
}
}
@media (min-width:1025px) and (max-width: 1225px) {
    #rss-copy-button .elementor-widget-container{
        padding-left: calc((100vw - 1025px) / 4);
        padding-right: calc((100vw - 1025px) / 4);
    }
}
@media (min-width: 951px) and (max-width: 1024px) {
    #detail-page-email-field .elementor-widget-container, #rss-copy-button .elementor-widget-container {
        padding: 0px;
    }
}
@media(max-width:359px) {
    .detail-page-mail-chimp-form .elementor-heading-title {
    width: 100% !important;
}
}/* End custom CSS */