.elementor-128883 .elementor-element.elementor-element-6a2ff1e > .elementor-container{max-width:1140px;}.elementor-128883 .elementor-element.elementor-element-6a2ff1e{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 20px 50px 25px;}.elementor-128883 .elementor-element.elementor-element-6a2ff1e:not(.elementor-motion-effects-element-type-background), .elementor-128883 .elementor-element.elementor-element-6a2ff1e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-128883 .elementor-element.elementor-element-6a2ff1e > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-128883 .elementor-element.elementor-element-aad36e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-aad36e > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-34385bd1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-34385bd1 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-5578ea3b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-5578ea3b > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-2905db31 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-2905db31 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-244645b > .elementor-container{max-width:1140px;}.elementor-128883 .elementor-element.elementor-element-244645b{overflow:hidden;border-style:solid;border-width:1px 0px 0px 0px;border-color:#CBD5E1;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-128883 .elementor-element.elementor-element-244645b:not(.elementor-motion-effects-element-type-background), .elementor-128883 .elementor-element.elementor-element-244645b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-128883 .elementor-element.elementor-element-244645b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-128883 .elementor-element.elementor-element-7c28a1ca > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-7c28a1ca > .elementor-element-populated{padding:0px 18px 0px 15px;}.elementor-128883 .elementor-element.elementor-element-59326ebb{text-align:left;}.elementor-128883 .elementor-element.elementor-element-1ffed429 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-47047b > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-46190a98 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-46190a98 > .elementor-element-populated{padding:0px 12px 0px 12px;}.elementor-128883 .elementor-element.elementor-element-7e59ea70{--grid-template-columns:repeat(4, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-128883 .elementor-element.elementor-element-7e59ea70 .elementor-widget-container{text-align:left;}.elementor-128883 .elementor-element.elementor-element-7e59ea70 .elementor-social-icon{--icon-padding:0em;}.elementor-128883 .elementor-element.elementor-element-7e59ea70 > .elementor-widget-container{margin:3px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-6adc98bb > .elementor-widget-container{margin:-5px 0px 0px 2px;}.elementor-128883 .elementor-element.elementor-element-6b668fd9{--grid-template-columns:repeat(3, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-128883 .elementor-element.elementor-element-6b668fd9 .elementor-widget-container{text-align:left;}.elementor-128883 .elementor-element.elementor-element-6b668fd9 .elementor-social-icon{background-color:#334155;--icon-padding:0em;}.elementor-128883 .elementor-element.elementor-element-6b668fd9 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-5eda3d45:not(.elementor-motion-effects-element-type-background), .elementor-128883 .elementor-element.elementor-element-5eda3d45 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EBEFF5;}.elementor-128883 .elementor-element.elementor-element-5eda3d45{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 0px 35px 0px;}.elementor-128883 .elementor-element.elementor-element-5eda3d45 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-128883 .elementor-element.elementor-element-38fabcbe.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-128883 .elementor-element.elementor-element-38fabcbe.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-128883 .elementor-element.elementor-element-38fabcbe.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-128883 .elementor-element.elementor-element-38fabcbe > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-38fabcbe > .elementor-element-populated{padding:0px 15px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-5530b008{text-align:center;}.elementor-128883 .elementor-element.elementor-element-5530b008 .elementor-heading-title{color:#0F172A;font-family:"Open Sans", Sans-serif;font-size:22px;font-weight:700;line-height:26px;}.elementor-128883 .elementor-element.elementor-element-5530b008 > .elementor-widget-container{margin:0px 0px 21px 0px;}.elementor-128883 .elementor-element.elementor-element-5383dd8d{text-align:center;}.elementor-128883 .elementor-element.elementor-element-5383dd8d .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-5b934a4a{text-align:center;}.elementor-128883 .elementor-element.elementor-element-5b934a4a .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-3425033f{text-align:center;}.elementor-128883 .elementor-element.elementor-element-3425033f .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-3425033f > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-128883 .elementor-element.elementor-element-38abaea1{text-align:center;}.elementor-128883 .elementor-element.elementor-element-38abaea1 .elementor-heading-title{color:#0F172A;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:600;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-26a1f6aa{text-align:center;}.elementor-128883 .elementor-element.elementor-element-26a1f6aa .elementor-heading-title{color:#475569;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-58e456ce{text-align:center;}.elementor-128883 .elementor-element.elementor-element-58e456ce .elementor-heading-title{color:#0057FF;font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:600;line-height:30px;}.elementor-128883 .elementor-element.elementor-element-48936d22{--grid-template-columns:repeat(4, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-128883 .elementor-element.elementor-element-48936d22 .elementor-widget-container{text-align:center;}.elementor-128883 .elementor-element.elementor-element-48936d22 .elementor-social-icon{--icon-padding:0em;}.elementor-128883 .elementor-element.elementor-element-48936d22 > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-fb381d2 > .elementor-widget-container{margin:-10px 0px 0px 2px;}.elementor-128883 .elementor-element.elementor-element-201c733a{--grid-template-columns:repeat(3, auto);--icon-size:32px;--grid-column-gap:15px;--grid-row-gap:0px;}.elementor-128883 .elementor-element.elementor-element-201c733a .elementor-widget-container{text-align:center;}.elementor-128883 .elementor-element.elementor-element-201c733a .elementor-social-icon{background-color:#334155;--icon-padding:0em;}.elementor-128883 .elementor-element.elementor-element-201c733a > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-1351e5b1{overflow:hidden;padding:30px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-30a4ae28.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-128883 .elementor-element.elementor-element-30a4ae28 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-30b91a01{text-align:center;}.elementor-128883 .elementor-element.elementor-element-5ffab9b3 > .elementor-widget-container{margin:16px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-19c15237 > .elementor-widget-container{margin:16px 0px -18px 0px;}@media(min-width:768px){.elementor-128883 .elementor-element.elementor-element-aad36e{width:20%;}.elementor-128883 .elementor-element.elementor-element-34385bd1{width:13%;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc{width:16%;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf{width:22%;}.elementor-128883 .elementor-element.elementor-element-5578ea3b{width:12%;}.elementor-128883 .elementor-element.elementor-element-2905db31{width:14.998%;}.elementor-128883 .elementor-element.elementor-element-7c28a1ca{width:81%;}.elementor-128883 .elementor-element.elementor-element-46190a98{width:19%;}}@media(max-width:1024px) and (min-width:768px){.elementor-128883 .elementor-element.elementor-element-aad36e{width:20%;}.elementor-128883 .elementor-element.elementor-element-34385bd1{width:13%;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc{width:15%;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf{width:23%;}.elementor-128883 .elementor-element.elementor-element-5578ea3b{width:12%;}.elementor-128883 .elementor-element.elementor-element-2905db31{width:16%;}}@media(max-width:1024px){.elementor-128883 .elementor-element.elementor-element-6a2ff1e{padding:50px 20px 50px 20px;}.elementor-128883 .elementor-element.elementor-element-aad36e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-aad36e > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-34385bd1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-34385bd1 > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-6d7d62fc > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-9b9b3bf > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-5578ea3b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-5578ea3b > .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-2905db31 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-2905db31 > .elementor-element-populated{padding:0px 0px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-7c28a1ca > .elementor-element-populated{padding:0px 15px 0px 10px;}.elementor-128883 .elementor-element.elementor-element-47047b > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-46190a98 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-46190a98 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-7e59ea70{--grid-column-gap:15px;}.elementor-128883 .elementor-element.elementor-element-6adc98bb > .elementor-widget-container{margin:-5px 0px 0px 2px;}.elementor-128883 .elementor-element.elementor-element-38fabcbe > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-128883 .elementor-element.elementor-element-38fabcbe > .elementor-element-populated{padding:0px 0px 0px 10px;}}@media(max-width:767px){.elementor-128883 .elementor-element.elementor-element-5eda3d45{padding:50px 0px 45px 0px;}.elementor-128883 .elementor-element.elementor-element-5530b008 .elementor-heading-title{letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-5383dd8d .elementor-heading-title{letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-5b934a4a .elementor-heading-title{letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-3425033f > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-128883 .elementor-element.elementor-element-38abaea1 .elementor-heading-title{letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-26a1f6aa .elementor-heading-title{letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-26a1f6aa > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-128883 .elementor-element.elementor-element-58e456ce .elementor-heading-title{font-size:16px;letter-spacing:0px;}.elementor-128883 .elementor-element.elementor-element-fb381d2 > .elementor-widget-container{margin:-5px 0px 0px 4px;}.elementor-128883 .elementor-element.elementor-element-1351e5b1{padding:40px 7px 0px 7px;}.elementor-128883 .elementor-element.elementor-element-5ffab9b3 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-128883 .elementor-element.elementor-element-19c15237 > .elementor-widget-container{margin:10px 10px 0px 10px;}}/* Start custom CSS for column, class: .elementor-element-9b9b3bf */@media (min-width:768px) and (max-width:920px) {
    .elementor-128883 .elementor-element.elementor-element-9b9b3bf{
        width:20%;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-6a2ff1e */.list-unstyled {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-block-end:10px;
}
#main-footer-desktop * {
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
}
#product-footer-section .list-unstyled:nth-child(2), #learning-support-footer .list-unstyled:nth-child(2), #contact-footer-section .elementor-widget-html:first-child .list-unstyled {
    margin-block-end:18px;
}
.list-unstyled .content-small, #learning-support-footer .list-unstyled:nth-child(4) {
    margin-bottom:0px;
}
.footer-top-content{
    color: #0F172A;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
}
.list-unstyled .content-small{
    line-height: 30px;
    color: #475569;
    font-size: 14px;
    font-weight: 400;
}
.list-unstyled .content-small a{
    color: #475569;
    text-decoration: none;
}
.list-unstyled .list-content-mail-id a{
    color:#0057FF;
    font-weight: 600;
}
.toll-free-content .footer-top-content {
    margin-bottom: 0px;
    width:max-content;
}
.Contact-us-content ul {
    width:max-content;
}
.toll-free-content ul {
    width:max-content;
}
.elementor-widget-social-icons .elementor-grid-item svg:hover rect, .elementor-widget-social-icons .elementor-grid-item svg:hover circle{
	fill: #475569;
}
@media (max-width:1024px){
    .list-unstyled .content-small{
    font-size: 12px;
    }
}
@media (min-width:1100px) and (max-width:1200px) {
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
    #resources-footer-section {
	    width: 12.5%;
    }
}
@media (min-width:1100px){
    #learning-support-footer {
	    width: 15%;
    }
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 5px;
    }
}
@media (min-width:1025px) and (max-width:1100px){
    .list-unstyled .content-small, .footer-top-content {
		font-size: 13px;
	}
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 5px;
    }
    #product-footer-section {
        width: 16% !important;
    }
    #resources-footer-section {
        width: 13.5% !important;
    }
    #learning-support-footer {
        width: 15% !important;
    }
    #alternatives-section {
        width: 23.5% !important;
    }
    #contact-footer-section {
        width: 17.5% !important;
        margin-right: 0;
    }
}
@media(max-width: 1024px) and (min-width:970px) {
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
    .footer-top-content {
        font-size: 13px;
    }
    #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section {
        margin-right: 6px;
    }
    #product-footer-section {
        width: 21% !important;
        margin-right: 0;
	}
    #resources-footer-section {
    	width: 12% !important;
    }
    #learning-support-footer {
    	width: 14% !important;
    }
    #alternatives-section {
        width: 22.5% !important;
        margin-right: 0;
    }
    #company-footer-section {
    	width: 11.5% !important;
    }
    #contact-footer-section {
    	width: 16% !important;
    	margin-right: 0;
    }
    #contact-footer-section .elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
}
@media (min-width: 768px) and (max-width:969px) {
    .footer-top-content {
        font-size: 13px;
    }
    #main-footer-desktop .elementor-container, #product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section, #company-footer-section, #contact-footer-section {
        display: block;
        float: left;
    }
    #product-footer-section {
        width: 19% !important;
    }

    #resources-footer-section {
        width: 15% !important;
    }

    #learning-support-footer {
        width: 17.5% !important;
    }
    #alternatives-section {
        width: 28.5% !important;
    }
    #company-footer-section {
        width: 14.5% !important;
    }
    #contact-footer-section {
        width: 20% !important;
    }
    #contact-footer-section .elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
    #contact-footer-section .elementor-widget-html:last-child .list-unstyled {
         margin-block-end:0px;
    }
    #policy-column {
        width: 55%;
    }
}
@media (min-width: 870px) and (max-width:969px) {
    #product-footer-section {
        width: 24% !important;
    }

    #learning-support-footer {
        width: 16.5% !important;
    }
    #alternatives-section {
        width: 25.5% !important;
    }
    #contact-footer-section {
        width: 16% !important;
    }
    #main-footer-desktop {
        padding: 50px 20px 50px 30px;
    }
    #main-footer-policy {
        padding: 20px 20px 20px 30px;
    }
	#product-footer-section, #resources-footer-section, #learning-support-footer, #alternatives-section {
		padding: 0;
	}
	#policy-column {
        padding-left: 0;
    }
}
@media screen and (max-width:768px) {
	#main-footer-desktop {
		display:none;
	}
	#main-footer-policy {
		display:none;
	}
}
@media screen and (min-width:768px) {
	#main-footer-desktop {
		display:block !important;
	}
	#main-footer-policy {
		display:block !important;
	}
}
#syncfusion-policy a:hover, #copyright-content a:hover, .list-unstyled .content-small a:hover {
	color: #000;
}
#main-footer-mobile .elementor-container .elementor-widget-heading:nth-child(7) a:hover, .list-unstyled .list-content-mail-id a:hover {
	color: #0450c2;
}
#main-footer-mobile .elementor-widget-heading:not(:nth-child(7)) a, #contact-footer-section .elementor-widget-html li:not(.list-content-mail-id) a {
    color: #475569;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7c28a1ca */#syncfusion-policy a,#copyright-content a{
        color: #475569;
        font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
}
#copyright-content a {
    line-height: 24px;
}
#syncfusion-policy a:first-child{
    padding-right:8px;
    padding-left: 0px !important;
    border-right: 2px solid #CBD5E1;
}
#syncfusion-policy a {
    padding:0px 8px 0px 0px;
    border-right: 2px solid #CBD5E1;
    margin-right: 8px;
    white-space: nowrap;
}
#syncfusion-policy a:last-child{
    border-right:0;
}
#syncfusion-policy a:nth-child(4) {
    word-break: break-all;
    white-space: pre-line;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-46190a98 */#social-icons-count span {
        color: #475569;
        font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
}
#social-icons-count .icons-count-space {
    margin-left: 10px;
}
#social-icons-count .icons-count-space:nth-child(2) {
    margin-left: 8px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-244645b */#syncfusion-logo {
    margin-bottom: 14px;
}
#syncfusion-logo img {
    width: 160px;
    height: 36px;
}
#syncfusion-policy {
    margin-bottom: 8px;
}
#main-footer-policy .elementor-social-icon:hover {
    opacity: 1;
}
#main-footer-policy .elementor-social-icon svg {
    fill: none;
}
/*@media (max-width:1260px){
    #main-footer-policy #policy-column {
        width:calc(100vw - 295px);
    }
    #main-footer-policy #social-icons-column {
        width:205px;
    }
}
@media (min-width:1180px) and (max-width:1200px) {
#main-footer-policy #social-icons-column {
        right: 10px;
    }
}
@media (min-width:1200px) and (max-width:1260px) {
#main-footer-policy #social-icons-column {
        right: 20px;
    }
}
@media (max-width:1260px){
    #main-footer-policy #social-icons-column .elementor-widget-wrap{
        padding: 0px;
    }
}*/
@media (min-width: 1300px) {
    #policy-column {
        width:81%;
    }
    #main-footer-policy #social-icons-column .elementor-element-populated {
        padding: 0px 0px 0px 24px;
    }
}
@media (max-width: 1300px) {
    #main-footer-policy #social-icons-column {
        position: absolute;
        width: 205px;
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    #main-footer-policy #social-icons-column {
        right: 50px;
    }
}
@media (min-width: 1025px) and (max-width:1180px) {
    #main-footer-policy #social-icons-column {
        right: 64px;
    }
}
@media (min-width: 1181px) and (max-width:1300px) {
    #main-footer-policy #social-icons-column {
        right: calc(85px - (100vw - 1140px)/2);
    }
}
#main-footer-mobile #syncfusion-policy a, #main-footer-mobile #syncfusion-policy a:first-child {
	padding: 16px 0px 16px 8px;
	border: none;
	margin-right: 0;
	
}
#main-footer-mobile #syncfusion-policy a:after {
	content: "|";
    color: #cbd5e1;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}
#main-footer-mobile #syncfusion-policy a:last-child:after {
	content: "";
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-fb381d2 */.elementor-128883 .elementor-element.elementor-element-fb381d2 {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5ffab9b3 */.elementor-128883 .elementor-element.elementor-element-5ffab9b3 {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-19c15237 */.elementor-128883 .elementor-element.elementor-element-19c15237 {
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5eda3d45 */#syncfusion-logo{
    width: 160px;
    height: 36px;
}
#main-footer-mobile .elementor-widget-wrap {
    padding: 0px;
}
#main-footer-mobile .elementor-social-icon svg {
    fill: none;
}/* End custom CSS */