.elementor-142543 .elementor-element.elementor-element-270aeef8 > .elementor-container{max-width:1170px;}.elementor-142543 .elementor-element.elementor-element-270aeef8:not(.elementor-motion-effects-element-type-background), .elementor-142543 .elementor-element.elementor-element-270aeef8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-142543 .elementor-element.elementor-element-270aeef8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:15px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-270aeef8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-142543 .elementor-element.elementor-element-5ff68b6b > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-5ff68b6b{width:var( --container-widget-width, 103.135% );max-width:103.135%;--container-widget-width:103.135%;--container-widget-flex-grow:0;}.elementor-142543 .elementor-element.elementor-element-7c4269af > .elementor-container{max-width:1170px;}.elementor-142543 .elementor-element.elementor-element-7c4269af:not(.elementor-motion-effects-element-type-background), .elementor-142543 .elementor-element.elementor-element-7c4269af > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-142543 .elementor-element.elementor-element-7c4269af{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:25px 16px 5px 14px;z-index:6;}.elementor-142543 .elementor-element.elementor-element-7c4269af > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-142543 .elementor-element.elementor-element-57b9b596.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-142543 .elementor-element.elementor-element-57b9b596.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button{font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:600;line-height:30px;letter-spacing:0.21px;fill:#0057FF;color:#0057FF;background-color:#FFFFFF;padding:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button:hover, .elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button:focus{color:#0450C2;}.elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button:hover svg, .elementor-142543 .elementor-element.elementor-element-4081621d .elementor-button:focus svg{fill:#0450C2;}.elementor-142543 .elementor-element.elementor-element-4081621d > .elementor-widget-container{padding:0px 0px 0px 6px;}.elementor-142543 .elementor-element.elementor-element-57306763 > .elementor-widget-container{margin:0px 3px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d > .elementor-container{max-width:1170px;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d:not(.elementor-motion-effects-element-type-background), .elementor-142543 .elementor-element.elementor-element-50f4fb3d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:20px 20px 25px 14px;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-142543 .elementor-element.elementor-element-3bdbc71c > .elementor-widget-container{padding:0px 0px 0px 6px;}.elementor-142543 .elementor-element.elementor-element-4ed311d7 > .elementor-container{max-width:1170px;}.elementor-142543 .elementor-element.elementor-element-4ed311d7{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:5px 20px 18px 12px;}.elementor-142543 .elementor-element.elementor-element-4ed311d7:not(.elementor-motion-effects-element-type-background), .elementor-142543 .elementor-element.elementor-element-4ed311d7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-142543 .elementor-element.elementor-element-4ed311d7 > .elementor-background-overlay{background-color:#ffffff;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-142543 .elementor-element.elementor-element-4ce9b2f3 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:10px 30px 0px 18px;}.elementor-142543 .elementor-element.elementor-element-101ecd56 img{width:100%;border-style:none;border-radius:24px 24px 24px 24px;}.elementor-142543 .elementor-element.elementor-element-101ecd56 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-598ea84f{text-align:left;color:#000000;font-family:"Open Sans", Sans-serif;font-size:19px;font-weight:400;line-height:30px;}.elementor-142543 .elementor-element.elementor-element-598ea84f > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-55b40e4b > .elementor-widget-container{padding:20px 0px 20px 0px;}.elementor-142543 .elementor-element.elementor-element-41384895 > .elementor-widget-container{margin:25px 0px 25px 0px;background-color:#F8FBFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#DFE8F9;border-radius:16px 16px 16px 16px;}.elementor-142543 .elementor-element.elementor-element-172b6211 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-76c46149 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-142543 .elementor-element.elementor-element-d827cdf{margin-top:0px;margin-bottom:0px;padding:0px 0px 15px 0px;z-index:1;}.elementor-142543 .elementor-element.elementor-element-37a4b85f > .elementor-element-populated{margin:0px 0px 20px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-142543 .elementor-element.elementor-element-43f1a14b > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-142543 .elementor-element.elementor-element-63231769 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-142543 .elementor-element.elementor-element-7c4269af{padding:25px 0px 5px 0px;}.elementor-142543 .elementor-element.elementor-element-4081621d > .elementor-widget-container{padding:0px 0px 0px 11px;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d{padding:25px 14px 25px 12px;}.elementor-142543 .elementor-element.elementor-element-3bdbc71c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-4ed311d7{padding:0px 22px 0px 22px;}.elementor-142543 .elementor-element.elementor-element-4ce9b2f3 > .elementor-element-populated{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-142543 .elementor-element.elementor-element-7c4269af{padding:25px 8px 5px 5px;}.elementor-142543 .elementor-element.elementor-element-57b9b596{width:60%;}.elementor-142543 .elementor-element.elementor-element-28c8570{width:40%;}.elementor-142543 .elementor-element.elementor-element-50f4fb3d{padding:25px 12px 8px 12px;}.elementor-142543 .elementor-element.elementor-element-3bdbc71c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-142543 .elementor-element.elementor-element-4ed311d7{padding:0px 20px 0px 20px;}.elementor-142543 .elementor-element.elementor-element-598ea84f{font-size:16px;}}@media(min-width:768px){.elementor-142543 .elementor-element.elementor-element-57b9b596{width:30%;}.elementor-142543 .elementor-element.elementor-element-28c8570{width:70%;}.elementor-142543 .elementor-element.elementor-element-4ce9b2f3{width:68%;}.elementor-142543 .elementor-element.elementor-element-76c46149{width:32%;}}@media(max-width:1024px) and (min-width:768px){.elementor-142543 .elementor-element.elementor-element-4ce9b2f3{width:100%;}.elementor-142543 .elementor-element.elementor-element-76c46149{width:100%;}}/* Start custom CSS for section, class: .elementor-element-270aeef8 */@media (min-width: 1025px) {
    #detail-page-secondary-header, #post-details-section, #detail-page {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7c4269af */#detail-page-secondary-header.elementor-sticky--active {
    box-shadow: 0px 8px 16px 0px #00427E24;
    padding: 5px 16px 5px 14px;
}
#detail-page-secondary-header #scroll-progress-bar-container {
    display: none;
}
#detail-page-secondary-header.elementor-sticky--active #scroll-progress-bar-container {
    display: block;
}
#post-actions-container {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    height: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
#post-actions-container #download_as_pdf, #post-actions-container #share_post_button, #post-actions-container #listen_to_post {
    color: #334155;
    vertical-align: middle;
    padding: 10px;
    border-radius: 8px;
}
#post-actions-container #download_as_pdf {
    margin-left: 8px;
}
#post-actions-container #share_post_button {
    margin-left: 10px;
}
#post-actions-container #download_as_pdf:hover, #post-actions-container #share_post_button:hover, #post-actions-container #listen_to_post:hover {
    color: #0057ff;
    background-color: #F4F8FF;
}
#post-actions-container #download_as_pdf::before {
    margin-right: 15px;
    float: left;
    height: 30px;
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/download_pdf_icon.svg);
}
#post-actions-container #listen_to_post, #post-actions-container #share_post_button {
    border: 0;
    background-color: unset;
} 
#post-actions-container #listen_to_post::before {
    margin-right: 15px;
    float: left;
    height: 28px;
    content: "";
    width: 28px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/Play-Icon.svg);
    background-repeat: no-repeat;
}
#post-actions-container #share_post_button::before {
    margin-right: 15px;
    float: left;
    height: 28px;
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/share-with-icon.svg);
}
#post-actions-container #download_as_pdf {
    display: inline-block;
}
#audio-container {
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    transition: visibility 0s, height 0.3s ease;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 85px;
    background-color: rgb(40, 40, 40);
    z-index: 10000;
    padding-top: 2px;
}
#audio-container iframe {
    border-radius: unset !important;
    text-align: center;
    width: 1170px;
    height: 85px;
    padding: 0px 20px 0px 20px;
    display: none;
}
#audio-container .post-audio-close-icon {
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/white-close-icon.svg);
    background-repeat: no-repeat;
    width: 24px;
    position: absolute;
    top: 40%;
    left: 20px;
    height: 24px;
    background-color: transparent;
    border: none;
}
#post-actions-container #share_post_button.active {
    color: #0057ff;
    background-color: #E8F0FF;
}
#post-actions-container .share-btn-grid {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 18px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #DDE4F1;
    background-color: #ffffff;
    position: absolute;
    z-index: 10;
    margin-top: 275px;
    display: none;
}

#post-actions-container .share-btn-grid::after {
    content: "";
    border-width: 15px;
    margin-bottom: -2px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 100%;
    right: 58.5px;
}

#post-actions-container .share-btn-grid::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #DDE4F1 transparent;
    position: absolute;
    bottom: 100%;
    right: 58.5px;
}
#post-actions-container .share-btn-grid .share-btn-facebook, #post-actions-container .share-btn-grid .share-btn-linkedin, #post-actions-container .share-btn-grid .share-btn-threads, #post-actions-container .share-btn-grid .share-btn-twitter, #post-actions-container .share-btn-grid .share-btn-reddit, #post-actions-container .share-btn-grid .rss-feed-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #334155;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    width: 120px;
    height: 42px;
    border: none;
    padding: 0;
    background: none;
}
#post-actions-container .share-btn-grid .share-btn-facebook:hover, #post-actions-container .share-btn-grid .share-btn-linkedin:hover, #post-actions-container .share-btn-grid .share-btn-threads:hover, #post-actions-container .share-btn-grid .share-btn-twitter:hover, #post-actions-container .share-btn-grid .share-btn-reddit:hover, #post-actions-container .share-btn-grid .rss-feed-btn:hover {
    color: #101828;
    font-weight: 600;
}
#post-actions-container .share-btn-grid .share-btn__icon {
    background-size: 42px 42px;
}
#post-actions-container .share-btn-grid .share-btn-facebook .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/facebook-btn.svg);
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/facebook-btn.svg);
}
#post-actions-container .share-btn-grid .share-btn-linkedin .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn.svg);
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn.svg);
}
#post-actions-container .share-btn-grid .share-btn-threads .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/threads-btn.svg);
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/threads-btn.svg);
}
#post-actions-container .share-btn-grid .share-btn-twitter .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn.svg);
     background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn.svg);
}
#post-actions-container .share-btn-grid .share-btn-reddit .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/reddit_icon.svg);
     background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/reddit_icon.svg);
}
#post-actions-container .share-btn-grid .rss-feed-btn .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/rss_icon.svg);
     background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/rss_icon.svg);
}
#post-actions-container .share-btn-grid .share-btn-facebook:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/facebook-btn-hover.svg);
}
#post-actions-container .share-btn-grid .share-btn-linkedin:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn-hover.svg);
}
#post-actions-container .share-btn-grid .share-btn-threads:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/threads-btn-hover.svg);
}
#post-actions-container .share-btn-grid .share-btn-twitter:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn-hover.svg);
}
#post-actions-container .share-btn-grid .share-btn-reddit:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/reddit_hover_icon.svg);
}
#post-actions-container .share-btn-grid .rss-feed-btn:hover .share-btn__icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/rss_hover_icon.svg);
}
#post-actions-container .share-btn-grid .share-btn__icon {
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    margin-right: 12px;
}
#post-actions-container #listen_to_post.pause-spotify::before {
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/spotifypauseIcon.svg);
}
#post-actions-container #listen_to_post.pause-spotify {
    font-size: 0;
}
#post-actions-container #listen_to_post.pause-spotify::after {
    content: "Pause";
    font-size: 16px;
    vertical-align: middle;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 25px;
}
#rss-feed-toaster {
    position: absolute;
    top: 60px;
    overflow: hidden;
    color: #0F172A;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Open Sans';
    background-color: #F6FEF9;
    border: 1px solid #6CE9A6;
    border-radius: 8px;
    width: 172px;
}
#rss-feed-toaster::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/success-check-circle.svg);
    margin-right: 10px;
    float: left;
    height: 20px;
}
#rss-feed-toaster .rss-progress-time {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    background-color: #1BB563;
    width: 100%;
    animation: progress 3s linear forwards;
}
@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
/*Scroll progress bar in detail page style */
#scroll-progress-bar-container {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #ECEEF7;
  z-index: 6;
}

#scroll-progress-bar {
  height: 100%;
  width: 0%;
  background-color: #0057FF;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
body.single.single-post {
	background-color: #ffffff;
}
@media(max-width:1230px) {
    #audio-container iframe {
    width: 100%;
}
}
/* mobile design */
@media(max-width:767px) {
    #post-actions-container {
        display: flex;
        flex-wrap: wrap;
        float: right;
        align-content: center;
    }
    #post-actions-container #listen_to_post, #post-actions-container #download_as_pdf, #post-actions-container #share_post_button {
        font-size: 0;
    }
    #post-actions-container #listen_to_post::before, #post-actions-container #download_as_pdf::before, #post-actions-container #share_post_button::before {
        margin-right: 0px;
        height: 28px;
    }
    #post-actions-container #share_post_button {
        position: fixed;
        z-index: 9999;
        bottom: 160px !important;
        right: 24px !important;
        background-color: #ffffff;
        border: 1px solid #F5F5F5;
        border-radius: 50%;
        margin: 0;
        box-shadow: 0px 0px 28px 29px #1018280F;
        padding: 12px;
    }
    #post-actions-container #share_post_button.active {
        display: block;
        box-shadow: 0px 14px 18px 8px #1018280F;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 80px;
        border-bottom-left-radius: 80px;
        width: 55px;
        border-top-color: #ffffff;
    }
    #post-actions-container #share_post_button.active::before {
        content: "\e7db";
        font-family: 'SyncfusionMenuIcons' !important;
        font-size: 18px;
        color: #6B7687;
        margin-left: 5px;
    }
    #post-actions-container #share_post_button.active {
        background-color: #ffffff;
    }
    #post-actions-container .share-btn-grid {
        grid-template-columns: repeat(1, 1fr);
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border: 1px solid #F5F5F5;
        box-shadow: 0px 0px 41px 29px #1018280F;
        row-gap: 15px;
        padding: 12px;
        position: fixed;
        right: 24px;
        bottom: 210px;
        margin-top: 0;
        width: 55px;
        padding-bottom: 5px;
    }
    #post-actions-container .share-btn-grid::after, #post-actions-container .share-btn-grid::before {
        content: unset;
    }
    #post-actions-container .share-btn-grid .social-share-btn, #post-actions-container .share-btn-grid .rss-feed-btn {
        font-size: 0;
        width: 100%;
        height: 100%;
    }
    #post-actions-container .share-btn-grid .social-share-btn .share-btn__icon, #post-actions-container .share-btn-grid .rss-feed-btn .share-btn__icon {
        margin-right: 0;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
    #post-actions-container #share_post_button:hover {
         background-color: #ffffff;
     }
    #detail-page-secondary-header.elementor-sticky--active {
        padding: 5px 8px 5px 5px;
    }
    #audio-container iframe {
    width: 100%;
    padding: 4px 30px 0px 5px;
    }
    #audio-container .post-audio-close-icon {
        top: 12%;
        left: unset;
        right: 8px;
    }
}
@media (max-width: 1024px) {
    #detail-page-secondary-header.elementor-sticky--active {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1230px) {
    #audio-container iframe {
    width: 100%;
    padding: 4px 20px 0px 45px;
    }
    #audio-container .post-audio-close-icon {
        left: 15px;
    }
}
@media (max-width: 768px) {
    #post-actions-container #share_post_button.share-button-resize {
        bottom: 240px !important;
    }
    #post-actions-container .share-btn-grid.share-btngrid-resize {
        bottom: 290px;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-50f4fb3d */#post-details-section .post-info-container {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    text-align: left;
    color: #000000;
}
#post-details-section .post-info-container .post-category {
    color: #64748B;
    margin: 0;
    text-transform: uppercase;
}
#post-details-section .post-info-container .post-title {
    color: #000000;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-transform: inherit;
    letter-spacing: 0em;
    margin-top: 5px;
    font-weight: 600;
}
#post-details-section .post-info-container .post-meta-section {
    line-height: 24px;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    column-gap: 16px;
    row-gap: 15px;
    padding: 5px 0 5px 3px;
}
#post-details-section .post-info-container .post-author {
    color: #0057FF;
    font-weight: 600;
}
#post-details-section .post-info-container .post-author img {
    margin: 0;
    width: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}
#post-details-section .post-info-container .post-author:hover {
    color: #0046CC;
}
#post-details-section .post-info-container .post-meta-section .post-date-info {
    font-size: 16px;
    font-weight: 600;
}
#post-details-section .post-info-container .post-meta-section .post-date-info .calendar-icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/calender-icon.svg);
    margin-right: 12px;
}
#post-details-section .post-info-container .updated-tag-in-detail-page {
	color: #208054;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
}
#post-details-section .post-info-container .post-read-time {
    font-weight: 600;
}
.post-meta-section > *:not(:first-child)::before {
    content: "•";
    margin-right: 15px;
    color: #CDD5DF;
    font-size: 20px;
    font-weight: 400;
}
#post-details-section .post-info-container .post-read-time .read_book_icon {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/book_icon.svg);
    margin-right: 12px;
}
#post-details-section .post-info-container .post-comment-count {
    font-weight: 600;
    color: #0057FF;
}
#post-details-section .post-info-container .post-comment-count:hover {
    color: #0046CC;
}
#post-details-section .post-info-container .post-meta-section, #post-details-section .post-info-container .post-author, #post-details-section .post-info-container .post-read-time, #post-details-section .post-info-container .post-meta-section .post-date-info, #post-details-section .post-info-container .updated-tag-in-detail-page, #post-details-section .post-info-container .post-comment-count {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* mobile design */
@media(max-width:768px) {
    #post-details-section .post-info-container .post-meta-section {
        display: none;
    }
    #post-details-section .post-info-container .post-category {
        display: none;
    }
    #post-details-section .post-info-container .post-title {
        font-size: 20px !important;
    }
}/* End custom CSS */
/* Start custom CSS for theme-post-featured-image, class: .elementor-element-101ecd56 */#post-feature-image {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-598ea84f */#related-blogs-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
#related-blogs-section .related-blogs-heading {
    margin-bottom: 20px;
    margin-top: 0;
}
#related-blogs-section .related-blogs-grid {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
    column-gap: 15px;
    row-gap: 15px;
}
#related-blogs-section .related-blogs-grid .related-blog-item {
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    display: flex;
    line-height: 24px;
    padding: 15px;
    border: 1px solid #FBFDFF;
    position: relative;
}
#related-blogs-section .related-blogs-grid .related-blog-item:hover {
    box-shadow: 0px 6px 20px 0px #24304629;
    border-radius: 16px;
}
#related-blogs-section .related-blogs-grid .related-blog-image .related-blog-feature-image {
    display: block;
    width: 120px;
    height: 96px;
}
#related-blogs-section .related-blogs-grid .related-blog-image {
    width: 120px;
    height: 96px;
}
#related-blogs-section .related-blogs-grid .related-blog-content {
    width: auto;
}
#related-blogs-section .related-blogs-grid .related-blog-image img {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 12px !important;
    max-width: unset;
    border: none;
    -webkit-box-shadow: none;
}
#related-blogs-section .related-blogs-grid .related-blog-content .related-blog-title {
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 20px;
    font-weight: 600;
    color: #000000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -moz-box-orient: vertical;
    -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
#related-blogs-section .related-blogs-grid .related-blog-content .related-blog-title:hover {
    color: #0057ff;
}
#related-blogs-section .related-blogs-grid .related-blog-content .related-blog-read-time {
        font-size: 14px !important;
        color: #000000;
        font-weight: 400;
        letter-spacing:0.2px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        line-height: 20px;
}
#related-blogs-section .related-blogs-grid .related-blog-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    flex-direction: column;
}
#related-blogs-section .related-blogs-grid .related-blog-info {
    display: block;
}
#related-blogs-section .related-blogs-grid .related-blog-content .related-blog-read-time::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/related_book_icon.svg);
    float: left;
    margin-right: 10px;
    margin-left: 2px;
    width: 16px;
    height: 16px;
}
#post-tags-section {
    padding-top: 10px;
    padding-bottom: 20px;
}
#post-tags-section .post-tag-heading {
    margin-top: 0px;
    margin-bottom: 15px;
}
#post-tags-section .post-tags-wrapper {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    padding: 10px 0;
}
#post-tags-section .post-tag {
        background: #EDF4FF;
    padding: 6px 16px;
    border: 1px solid #E3EDFA;
    font-size: 14px;
    line-height: 22px;
    color: #334155;
    letter-spacing: 0.3px;
    border-radius: 16px;
    text-transform: capitalize;
}
#post-tags-section .post-tag:hover {
    /*color: #0d98ff;*/
    background-color: #E0ECFF;
}
#post-details-section .post-info-container .post-category:hover {
    color: #0057ff;
}
/* mobile design */
@media(max-width:767px) {
 #related-blogs-section .related-blogs-grid {
         padding: 10px 0 15px 0;
        grid-template-columns: repeat(1, 1fr);
    }
    #related-blogs-section .related-blogs-grid .related-blog-image {
        width: auto;
    }
    #related-blogs-section .related-blogs-grid .related-blog-item {
        column-gap: 18px;
    }
}
#related-blogs-section .related-blogs-grid .related-blog-item:hover .related-blog-content .related-blog-title {
    color: #0057ff;
}
.related-blog-item .related-blog-clickable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for template, class: .elementor-element-55b40e4b */#subscription-section .elementor-message {
    position: absolute;
    display: flex;
    align-items: center;
    top: auto;
    bottom: 128%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Open Sans !important;
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 20px;
    text-align: left;
    padding: 12px 14px;
    margin: 0;
    width: calc(100% - 84px);
}
#subscription-section .elementor-message::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 36px;
    border-width: 10px;
    border-style: solid;
    margin: 0;
}
#subscription-section .elementor-message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 36px;
    border-width: 10px;
    border-style: solid;
    margin: 0;
    margin-top: -2px;
}
#subscription-section .elementor-message.elementor-message-success {
    color: #475569;
    background-color: #F6FEF9 !important;
    border: 1px solid #6CE9A6 !important;
}
#subscription-section .elementor-message.elementor-message-success::before {
    border-color: #6CE9A6 transparent transparent transparent !important;
}
#subscription-section .elementor-message.elementor-message-success::after {
    border-color: #F6FEF9 transparent transparent transparent !important;
}
#subscription-section .elementor-message.elementor-message-danger {
    color: #475569 !important;
    background-color: #FFF5F5 !important;
    border: 1px solid #FF9090 !important;
}
#subscription-section .elementor-message.elementor-message-danger a {
    color: #CC3366;
}
#subscription-section .elementor-message.elementor-message-danger a:hover {
    color: #475569;
}
#subscription-section .elementor-message.elementor-message-danger:before {
    content: "";
    border-color: #FF9090 transparent transparent transparent;
}
#subscription-section .elementor-message.elementor-message-danger:after {
    content: "";
    border-color: #FFF5F5 transparent transparent transparent;
}
#subscription-section .elementor-message.elementor-message-success .elementor-message-img {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/success-check-circle.svg);
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    margin-right: 12px;
    vertical-align: middle;
}
#subscription-section .elementor-message.elementor-message-danger .elementor-message-img {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/failure-alert-triangle.svg);
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    margin-right: 12px;
    vertical-align: middle;
}
#detail-page-email-field #form-field-email:focus-within {
    color: #0F172A;
}
#detail-page-email-field #form-field-email::placeholder {
    color: #9FACC4;
}
@media (min-width:1025px) and (max-width: 1225px) {
    #detail-page-email-field .elementor-widget-container {
        padding-left: calc((100vw - 1025px) / 4);
        padding-right: calc((100vw - 1025px) / 4);
    }
}
@media (max-width:767px) {
    #subscription-section .elementor-message {
        top: auto;
        bottom: 112%;
        width: 100%;
    }
}
@media (min-width:951px) and (max-width: 1024px) {
    #subscription-section .elementor-message {
        width: 100%;
    }
}
@media (min-width:1025px) and (max-width: 1224px) {
    #subscription-section .elementor-message {
        width: calc(407.29px + (100vw - 1025px) * 0.2);
    }
}
#detail-page-email-field input#form-field-email:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: #ffffff !important;
}
#mailchimpform {
	opacity : 1 !important;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-41384895 */#author-section #author-box {
    font-family: "Open Sans", Sans-serif;
    padding: 40px 60px 40px 40px;
    border-radius: 16px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/polygon_image.svg), url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/ellipse_image.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}
#author-section #author-box .author-bio {
    color: #000000;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0px;
    letter-spacing: 0.2px;
    margin-top: 10px;
}
#author-section #author-box .author-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#author-section #author-box .author-info .author-avatar {
    width: 96px;
    height: 96px;
    min-width: 96px;
}
#author-section #author-box .author-info .author-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
}
#author-section #author-box .author-box-data {
    padding: 10px 0px 0px 20px;
}
#author-section #author-box .author-box-data .default-author-heading {
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 6px;
    line-height: 24px;
}
#author-section #author-box .author-box-data .author-name {
    color: #0057FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
}
#author-section #author-box .author-box-data .author-name:hover {
    color: #0046CC;
}
#author-section #author-box .author-box-data .author-social-profile {
    margin-bottom: 0;
    display: flex;
    column-gap: 18px;
    margin-top: 18px;
}
#author-section #author-box .author-box-data .author-social-profile .author-linkedin-url {
    width: 42px;
    height: 42px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn.svg), url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn-hover.svg);
    background-size: 42px 42px;
    background-repeat: no-repeat;
}
#author-section #author-box .author-box-data .author-social-profile .author-linkedin-url:hover {
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/linkedin-btn-hover.svg);
}
#author-section #author-box .author-box-data .author-social-profile .author-twitter-url {
    width: 42px;
    height: 42px;
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn.svg), url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn-hover.svg);
    background-size: 42px 42px;
    background-repeat: no-repeat;
}
#author-section #author-box .author-box-data .author-social-profile .author-twitter-url:hover {
    background-image: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/twitter-btn-hover.svg);
}
/* mobile design */
@media(max-width:767px) {
    #author-section #author-box {
        padding: 32px;
        height: auto;
    }
    #author-section #author-box .author-box-data {
        padding: 8px 0px 0px 20px;
    }
    #author-section #author-box .author-info .author-avatar {
        width: 60px;
        height: 60px;
        min-width: 60px;
    }
    #author-section #author-box .author-bio {
        font-size: 15px !important;
        line-height: 24px;
    }
    #author-section #author-box .author-box-data .author-name {
        font-size: 18px;
    }
}/* End custom CSS */
/* Start custom CSS for post-comments, class: .elementor-element-172b6211 */#comments .comment-list .comment-action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#comments .comment-list .depth-1 {
    background-color: #FBFDFF;
}
#comments {
    padding-bottom: 20px;
    margin-top: 15px !important;
}
#comments #respond #reply-title {
    font-size: 20px !important;
    line-height: 40px !important;
    margin-bottom: 15px;
    padding-top: 10px;
}
#comments #respond #reply-title::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/comment-icon.svg);
    margin-right: 15px;
    vertical-align: -webkit-baseline-middle;
}
#comments #commentform .row textarea#comment {
    height: 120px;
    border-radius: 8px;
    color: #647489;
    border: 1px solid #D5DEEC;
    background-color: #ffffff;
}
#comments #commentform .row textarea::placeholder {
    color: #647489;
}
#comments #commentform .comment-form-fields .comment-author-input, #comments #commentform .comment-form-fields .comment-email-input {
    margin-top: 20px;
}
#comments #commentform .comment-form-fields .comment-author-input #comment-author {
    border-radius: 8px;
    background-color: #FAFBFF !important;
    border: 1px solid #D9E3F1;
    color: #64748B;
}
#comments #commentform .comment-form-fields .comment-author-input #comment-author::placeholder, #comments #commentform .comment-form-fields .comment-email-input #comment-email::placeholder {
    color: #64748B;
}
#comments #commentform .comment-form-fields .comment-email-input #comment-email {
    border-radius: 8px;
    background-color: #FAFBFF !important;
    border: 1px solid #D9E3F1;
    color: #64748B;
}
#comments #commentform .form-submit #submit {
    border-radius: 8px;
    background-color: #0057FF;
    margin: 20px 20px 20px 0px;
}
#comments #commentform .form-submit #submit:hover {
    background-color: #0046CC;
}
#comments #commentform .comment-form-fields .comment-author-input #comment-author, #comments #commentform .comment-form-fields .comment-email-input #comment-email {
    padding: 0 20px 0 50px;
}
#comments #commentform .comment-form-fields .comment-author-input::before {
    content: '\e63b';
    color: #334155;
    font-family: 'thegem-icons';
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 24px;
    width: 50px;
    height: 100%;
    line-height: 50px;
    text-align: center;
}
.comment-form .comment-author-input:after, .comment-form .comment-email-input:after {
    content: unset;
}
#comments #commentform .comment-form-fields .comment-email-input::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/email-Icon.svg);
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 24px;
    width: 50px;
    height: 100%;
    line-height: 50px;
    text-align: center;
}
#comments .must-log-in {
    border: 1px solid #D5DEEC;
    border-radius: 8px;
    height: 120px;
    padding: 15px 24px;
}
#comments .must-log-in p {
    color: #64748B;
}
#comments .must-log-in a {
    color: #0057ff;
    font-weight:700;
}
#comments .must-log-in a:hover {
    color: #0046CC;
}
#comments .disabled-submit-button {
    margin: 20px 20px 30px 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #E2E8F0;
    color: #94A3B8;
    border: none;
    cursor: default;
}
#comments #comments-box {
    font-size: 20px !important;
    line-height: 40px !important;
    color: #1E293B;
    margin-bottom: 25px;
    padding-top: 10px;
    margin-top: 15px;
}
#comments #comments-box.respond-disabled {
    margin-top: 35px;
}
#comments #comments-box::before {
    content: url(https://www.syncfusion.com/blogs/wp-content/uploads/2024/08/comment-list-Icon.svg);
    vertical-align: middle;
    margin-right: 16px;
    font-size: 20px;
}
#comments .comment-list .default-background {
    padding: 40px;
    border: 1px solid #D9E3F1;
    border-radius: 6px;
    background-color: #FBFDFF;
}
#comments .comment-list .comment-inner .comment-action-buttons {
    padding-top: 15px;
    margin-left: 72px;
}
#comments .comment-list .comment-inner .comment-action-buttons .reply .comment-reply-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px !important;
    border: none;
    background-color: unset !important;
    color: #0057FF;
    padding: 0 !important;
    margin: 0;
    height: auto;
}
#comments .comment-list .comment-inner .comment-action-buttons .reply .comment-reply-link:hover{
    color:#0046CC;
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button {
    border: none;
    background-color: unset;
    color: #0057ff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 0;
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button:hover {
    color:#0046CC;
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button .chevron-down-icon {
    margin-left: 12px;
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button .chevron-down-icon::before {
    content:'\f078';
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button.response-open .chevron-down-icon {
    transform: rotate(180deg);
}
#comments .comment-list .comment-inner .comment-action-buttons .comment-response .response-toggle-button.response-open .chevron-down-icon::before {
    vertical-align: text-top;
}
#comments .comment-list .comment-inner {
    padding: 35px 35px;
    border: none;
    border-radius: 8px;
    background-color: #FBFDFF;
    margin-bottom: 0;
}
#comments .comment-list .comment-inner.bordered-box {
    margin-left: 72px;
    padding-top: 5px;
}
#comments > .comment-list div[class*="depth-"] {
    border: 1px solid #D9E3F1;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 0;
}

#comments > .comment-list >.depth-1 div[class*="depth-"] {
    border: none;
    margin-bottom: 0;
}
#comments > .comment-list >.depth-1 div[class*="depth-"]  .comment-divider {
    display: block;
    margin: 0 40px;
    border-top: 1px solid #DCE5EF;
}
#comments .comment-list .comment-header .comment-author .fn {
	margin: 0;
}
#comments .comment-list .depth-1.parent > div[class*="depth-"] {
    display: none;
}
#comments .comment-list .comment-inner .comment-header .comment-author {
    display: flex;
    align-items: center;
}
#comments .comment-list .comment-inner .comment-header .comment-author img {
    margin-left: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
}
#comments .comment-list .comment-inner .comment-header .comment-author .comment-author-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
#comments .comment-list .comment-inner .comment-header .comment-author .comment-author-info .title-h6 {
    font-size: 18px;
    color: #1E293B;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.02em;
}
#comments .comment-list .comment-inner .comment-header .comment-author .comment-author-info .comment-meta {
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 28px;
    color: #475569;
    font-weight: 600;
    letter-spacing: 0.3px;
}
#comments .comment-list .comment-inner .comment-header .comment-author .comment-author-info .title-h6, #comments .comment-list .comment-inner .comment-header .comment-author .comment-author-info .comment-meta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -moz-box-orient: vertical;
    -moz-line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    pointer-events: none;
}
#comments .comment-list .comment-inner .comment-text {
    margin-left: 72px;
    padding-top: 15px;
    font-size: 16px !important;
    line-height: 28px;
}
#comments .comment-list .comment-inner .comment-text, #comments .comment-list .comment-inner .comment-text p {
    font-weight: 400;
    color: #1E293B;
    text-align: left;
    font-size: 16px !important;
    line-height: 28px;
    word-break: break-word;
}
#comments .comment-list .comment-inner .comment-text a {
    color: #0057ff;
}
#comments .comment-list .comment-inner .comment-text a:hover {
    color: #0046CC;
}
#comments #respond #reply-title #cancel-comment-reply-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #0057FF;
    margin-left: 8px;
}
#comments #respond #reply-title #cancel-comment-reply-link:hover {
    color: #0046CC;
}
#comments #respond #commentform div.error {
    font-size: 14px;
    margin-top: 6px;
    line-height: 20px;
}
.comment .comment>.comment-inner:before {
    display: none !important;
}
#comments .comment-list .comment-inner.bordered-box .comment-text p:first-of-type {
    display: inline;
}
#comments .comment-list .comment-inner.bordered-box .comment-text p:nth-of-type(2) {
    margin-top: 20px;
}
#comments .comment-list .comment-inner .comment-text .comment_parent_name {
    display: inline-block;
    font-weight: 700;
    text-transform: capitalize;
    color: #1E293B;
}
#comments .comment-list .comment-inner.bordered-box .comment-text, #comments .comment-list .comment-inner.bordered-box .comment-text p {
    color: #475569;
}
#comments .comment-list .comment-inner .comment-meta a:hover {
    color: #0057ff;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-63231769 */#category-ad-section .ad-image{
  position:absolute;
  z-index: 1;
}
#category-ad-section .ad-image object{
   position:relative; 
  z-index: -1;
}
.add object{
     width: 100%;
  pointer-events: none;
}
#category-ad-section{
    cursor:pointer;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4ed311d7 */#post-feature-image img {
    margin-top: 0px !important;
}
#post-details ul li {
    margin-left :3px !important;
}
#post-details ul li .elementor-post-info__item--type-date {
    color:#3D3D3D !important;
}
#post-details .elementor-icon-list-icon i {
   display :block;
   color:#99a9b5 !important;
   padding-right: 10px
}
#post-details .elementor-icon-list-text {
    padding-left: 7px !important;
}
#post-details .elementor-post-info__item--type-comments{
    color:#3D3D3D;
}
#post-details .elementor-post-info__item--type-author{
    color: #0273DC;
}
#post-details .elementor-post-info__item--type-comments:hover{
    color:#0d98ff;
}

#post-details .elementor-post-info__item--type-author:hover{
    color:#0d98ff;
}

#post-details .elementor-icon-list-icon{
    display: none;
}
#detail-page table {
      table-layout: fixed;
    width: 100%;
}
#detail-page table td{
      word-wrap: break-word;
}
#page-content textarea{
    display: none;
}
#page-content p a {
    overflow-wrap: break-word;
}
#popular-post .elementor-element-populated {
    padding: 0px;
}
#popular-now{
    margin-bottom: 15px;
}

#detail-page-tags .elementor-icon-list-text a {
    color:#0073dc;
}
#detail-page-tags .elementor-icon-list-text a:hover {
    text-decoration: underline;
}
 #detail-page-tags ul {
margin-left :-18px;
}

#page-content ul ul {
 padding-left: 40px;   
}

#page-content ul ol {
 padding-left: 40px;   
}

#page-content ol ul {
 padding-left: 40px;   
}

#page-content ol ol {
 padding-left: 40px;   
}

#author-section .elementor-author-box__button{
border :none;
}
#author-section .elementor-author-box__button:before {
    content: '\e601';
    font-family: 'thegem-icons';
    font-weight: normal;
    font-size: 16px;
}
#comments-section input[type="text"] {
    background-color: #f4f6f7 !important;
      border: 1px solid #dfe5e8;
}

#comments-section input.error{
    border: 1px solid #FF0000 !important;
}

#comments-section div.error {
    font-size: 12px;
}
#page-content figure {
text-align: center;
margin: auto;
}
#page-content figcaption {
color:#a0a0a0;
font-size:15.485px;
line-height:25px;
}
#page-content figure img, #page-content img{
max-width: 75%;
border:1px solid #C0C0C0;
-webkit-box-shadow: 10px 10px 5px #ccc;
}
#detail-page .elementor-widget-social-icons {
    width: 30px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
#comments-section .comment-inner:before {
display:none;
}
.comment-list{
    margin-bottom: 0px !important;
}

.margin-bottom-reducer{
    margin-bottom: 0px !important
}
.mail-chimp-form .elementor-element-populated{
    padding: 0px;
}
@media(max-width:599px){
#author-section .elementor-author-box {
display :block !important;
}
}
#author-section .ementor-author-box img{
padding: 0px 0px 10px 0px;
}
#author-section .elementor-author-box__text{
padding: 20px 0px 0px 10px;
}
#popular-post-template .elementor-element-populated{
padding :0px;
}
@media (max-width: 360px){
#popular-post-template .elementor-post__title a{
font-size :11px !important;
line-height: 10px !important;
}}
#rss-feed-icon .elementor-button-text {
padding-right :10px;
}
#rss-feed-icon .elementor-button-content-wrapper {
display :inline-block;
}
#comments-section #reply-title .light {
font-weight :600 !important;
}
/* header name change for home page and detail page */
#detail-page-header-content {
    display: block;
}
#home-page-header-content{
    display:none;
}
#social-icon-inner-column .elementor-widget-wrap {
    width: 62px;
    margin-top: 80px;
}
#social-icon .elementor-sticky--active #social-icon-inner-column .elementor-widget-wrap {
    margin-top: 0px;
}
#social-icon {
    left: -52px;
    width: 0% !important;
}
@media (min-width:1265px){
#social-icon {
    left: -75px;
}
}
@media (min-width:1024px) and (max-width:1280px){
#social-icon-inner-column .elementor-widget-wrap{
    left: 38px !important;
}
}
@media(min-width:1025px){
.mail-chimp-form .elementor-element-populated{
padding-left :0px !important;
}
}

/* comment section*/
#comment-form-sucess-response{
    font-size: 12px;
    font-family: "Open Sans", Sans-serif;
    line-height: 16px;
    letter-spacing: normal;
    border-left: 3px solid;
    padding: 10px 20px;
    width: 100%;
	display:none;
}
.elementor-message-success{
	color: #4F8A10;
    background-color: #DFF2BF;
}
.elementor-message-danger {
   color: #721c24 !important;
    background-color: #f8d7da !important;
 
}

#ajax-waiting{
	margin-left:10px;
	display:none;
}
.show{
	display:block !important;
}
.hide{
	display:none !important;
}
.comment-form-sucess-response-fadeOut{
  opacity : 0;
  height : 0;
 transition: opacity 1s ease-out;
}
.fa.fa-refresh:before {
    content: "\f021";
}

/* popular-post-template*/

#popular-post .elementor-post__title a:hover{
    color:#0073DC  !important;
}


.elementor-share-btn_twitter,.elementor-share-btn_facebook,.elementor-share-btn_linkedin{
     background-color: #3F3F3F !important
}


 .elementor-share-btn_twitter:hover {
    background-color: #1da1f2 !important;
}
 .elementor-share-btn_facebook:hover{
    background-color: #3b5998 !important
}
.elementor-share-btn_linkedin:hover {
background-color: #006097 !important;
}
/*comment-text*/
.comment-text p{
        overflow-wrap: break-word;
}
h1.elementor-heading-title {
    font-weight: 600!important;
}
@media (max-width: 1024px) and (min-width: 951px) {
    #detail-page #detail-page-column {
        width: 68%;
        padding-right: 20px !important;
    }
    #detail-page #details-page-static-section {
        width: 32%;
    }
    #related-blogs-section .related-blogs-grid .related-blog-image {
        width: auto;
    }
}
@media (max-width: 950px) and (min-width: 760px) {
    #detail-page #details-page-static-section {
        display: none !important;
    }
}/* End custom CSS */